* {
    margin:0;
    padding:0;
}

.square {
    background-color: violet;
    height: 100px;
    width: 100px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin: 50px;
}
